.warehouse-map {
  border: 2px solid indigo;
  color: indigo;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  line-height: 30px;
  border-radius: 16px;
  margin: 50px 20% 0;
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
}
